@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;700&display=swap");
@font-face {
  font-display: block;
  font-family: brandon_thin;
  src: url("/public/fonts/BrandonGrotesque-Thin.ttf?v=1");
}
@font-face {
  font-display: block;
  font-family: brandon_light;
  src: url("/public/fonts/BrandonGrotesque-Light.ttf?v=1");
}
@font-face {
  font-display: block;
  font-family: brandon_regular;
  src: url("/public/fonts/BrandonGrotesque-Regular.ttf?v=1");
}
@font-face {
  font-display: block;
  font-family: brandon_medium;
  src: url("/public/fonts/BrandonGrotesque-Medium.ttf?v=1");
}
@font-face {
  font-display: block;
  font-family: brandon_bold;
  src: url("/public/fonts/BrandonGrotesque-Bold.ttf?v=1");
}
.content {
  padding: 24px;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  flex-grow: 1;
  border-radius: 25px;
  background-color: #f9f9f9;
  box-shadow: 15px 15px 90px rgba(0, 0, 0, 0.1);
  z-index: 2;
}
@media (max-width: 1000px) {
  .content {
    border-radius: 0px;
  }
}
.content .header {
  font-family: "brandon_bold", sans-serif;
  font-size: 18px;
  padding-bottom: 8px;
  border-bottom: 1px solid #eee;
  padding-bottom: 12px;
  margin-bottom: 16px;
}

.meta .avatar {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: #6481e4;
  text-align: center;
}
.meta .avatar > img {
  margin-top: 16px;
}
.meta .user {
  font-size: 16px;
  font-family: "brandon_bold", sans-serif;
}

.message-container {
  flex-grow: 1;
  overflow-y: auto;
  height: 300px;
  margin-bottom: 24px;
}
.message-container .message {
  padding: 0px 16px;
  border-radius: 0px 25px 25px 25px;
  background-color: rgba(127, 124, 164, 0.07);
  font-family: "brandon_bold", "sans-serif";
  display: inline-block;
  margin-bottom: 32px;
}
.message-container .message .msg-text {
  font-size: 24px;
  color: #666;
  margin: 16px 0;
}
.message-container .result {
  margin-bottom: 32px;
}
.message-container .result div {
  background-color: rgba(164, 136, 124, 0.07);
  padding: 8px 24px;
  border-radius: 0px 25px 25px 25px;
}
.message-container .result p {
  margin: 4px;
}
.message-container .result .label {
  font-size: 12px;
  color: #fa6b2d;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.message-container .result .gurmukhi {
  font-family: "Baloo Paaji 2", cursive;
  font-size: 24px;
  font-weight: 700;
}
@media screen and (max-width: 650px) {
  .message-container .result .gurmukhi {
    font-size: 18px;
  }
}
.message-container .result .top-result {
  color: #333;
  max-width: 524px;
  margin-bottom: 16px;
}
.message-container .result .other-results {
  max-width: 400px;
}
.message-container .result .other-results .gurmukhi,
.message-container .result .other-results .translation {
  font-size: 14px;
}
.message-container .result .other-results .translation {
  margin-bottom: 24px;
}

.question-form {
  width: 100%;
  border-radius: 100px;
  height: 48px;
  border: 2px solid rgba(100, 129, 228, 0.1);
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f6f7f9;
}
.question-form input {
  height: 100%;
  border: none;
  outline: none;
  flex-grow: 1;
  background-color: transparent;
  margin-left: 24px;
  font-size: 24px;
  font-family: "brandon_regular", "sans-serif";
}
.question-form button {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  margin-right: 4px;
  background-color: #333;
  border: none;
  cursor: pointer;
}

.sidebar {
  width: 15%;
  max-width: 280px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-left: -24px;
  padding: 16px 0px 16px 40px;
  background-color: #f6f7f9;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 1000px) {
  .sidebar {
    box-sizing: border-box;
    position: fixed;
    right: -285px;
    width: 100%;
    height: 100%;
    z-index: 2;
    padding: 60px 16px 24px 16px;
    border-left: 3px solid rgba(0, 0, 0, 0.1);
  }
  .sidebar-open {
    right: 0;
  }
}
.sidebar .sidebar-label {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #fa6b2d;
  font-family: "brandon_bold", "sans-serif";
  font-weight: normal;
}
.sidebar div {
  width: 100%;
}
.sidebar div.utils {
  flex-grow: 1;
}
.sidebar .source {
  margin-bottom: 8px;
  position: relative;
}
.sidebar .source > * {
  vertical-align: middle;
}
.sidebar .source .circle {
  width: 24px;
  height: 24px;
  display: inline-block;
  position: relative;
}
.sidebar .source .circle.circle-G > path {
  fill: #fa6b2d;
}
.sidebar .source .circle.circle-G + .status {
  background-color: #0dd273;
}
.sidebar .source .circle.circle-D > path {
  fill: #17298a;
}
.sidebar .source .circle.circle-V > path {
  fill: #eecc18;
}
.sidebar .source .circle.circle-M > path {
  fill: #fd5d5d;
}
.sidebar .source .circle + .status {
  display: block;
  width: 8px;
  height: 8px;
  background-color: #aaa;
  content: "";
  border-radius: 50%;
  position: absolute;
  bottom: 2px;
  left: 16px;
}
.sidebar .source .source-name {
  font-size: 16px;
  font-family: "brandon_medium", "sans-serif";
  text-indent: 8px;
  display: inline-block;
}
.sidebar .source .result-count {
  background-color: #fd5d5d;
  color: #ffffff;
  border-radius: 8px;
  padding: 0px 8px;
  margin-left: 12px;
  display: none;
  font-size: 14px;
}

.branding {
  text-align: center;
}
.branding .brand-text {
  color: #333;
  display: inline-block;
  font-family: "brandon_medium", "sans-serif";
  font-weight: bold;
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: 0.25em;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
html .star1,
body .star1 {
  /* Star 2 */
  position: absolute;
  width: 618px;
  height: 618px;
  right: 0px;
  top: 438px;
  z-index: -5;
  box-sizing: border-box;
  border-radius: 50px;
  animation: rotationClockwise 60s linear infinite;
}
html .star2,
body .star2 {
  /* Star 3 */
  position: absolute;
  width: 618px;
  height: 618px;
  right: 0px;
  top: 442px;
  z-index: -5;
  box-sizing: border-box;
  border-radius: 50px;
  animation: rotationAntiClockwise 60s linear infinite;
}
html .star3,
body .star3 {
  /* Star 2 */
  position: absolute;
  width: 618px;
  height: 618px;
  left: 0px;
  top: 438px;
  z-index: -5;
  box-sizing: border-box;
  border-radius: 50px;
  animation: rotationClockwise 60s linear infinite;
}
html .star4,
body .star4 {
  /* Star 3 */
  position: absolute;
  width: 618px;
  height: 618px;
  left: 0px;
  top: 442px;
  z-index: -5;
  box-sizing: border-box;
  border-radius: 50px;
  animation: rotationAntiClockwise 60s linear infinite;
}

@keyframes rotationClockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotationAntiClockwise {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
body {
  background: linear-gradient(247.44deg, #e5e8ee 0.45%, #eeebe5 100%);
  display: flex;
  align-items: center;
  font-family: "brandon_regular", sans-serif;
  color: #666;
  overflow: hidden;
}

.page-wrapper {
  max-width: 1728px;
  width: 90%;
  border-radius: 25px;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
  height: 90vh;
  box-shadow: 15px 15px 90px rgba(0, 0, 0, 0.1);
}
.page-wrapper .ham-icon {
  display: none;
}
@media (max-width: 1000px) {
  .page-wrapper {
    margin: 0;
    height: 100vh;
    width: 100%;
    border-radius: 0px;
  }
  .page-wrapper .ham-icon {
    display: block;
    height: 18px;
    position: fixed;
    z-index: 5;
    right: 24px;
    top: 28px;
    cursor: pointer;
  }
}

/*# sourceMappingURL=main.css.map */
