// light collection
$pure-white: #ffffff;
$almost-white:#f9f9f9;
$almost-grey: #f3f3f3;
$light-grey: #f6f7f9;

$medium-grey: #aaa;

// dark collection
$pure-black: #000;
$almost-black: #333;
$dark-grey: #666;

// transparent colors
$translucent-grey: rgba(127, 124, 164, 0.07);
$translucent-dark-grey: rgba(100, 129, 228, 0.1);
$translucent-orangish-grey: rgba(164, 136, 124, 0.07);
$translucent-bluish-grey: rgba(75, 112, 240, 0.25);

// colorful colors
$orange: #FA6B2D;
$blue: #17298a;
$yellow: #eecc18;
$red: #fd5d5d;
$green: #0dd273;