.content {
    padding: 24px;
    display: flex;
    flex-direction: column;
}

.message-container {
    flex-grow: 1;
    overflow-y: auto;
    height: 300px;

    .message {
        padding: 8px 24px;
        border-radius: 0px 25px 25px 25px;
        background-color: $translucent-grey;
        font-family: 'brandon_bold', 'sans-serif';
        display: inline-block;
        margin-bottom: 32px;

        .msg-text {
            font-size: 24px;
            color: $dark-grey;
        }
    }

    .result {
        margin-bottom: 32px;
        div {
            background-color: $translucent-orangish-grey;
            padding: 8px 24px;
            border-radius: 0px 25px 25px 25px;
        }
        p{
            margin: 4px;
        }
        .label {
            font-size: 12px;
            color: $orange;
            letter-spacing: 0.2em;
            text-transform: uppercase;
        }

        .gurmukhi {
            font-family: 'Baloo Paaji 2', cursive;
            font-size: 24px;
            font-weight: 700;
        }

        .top-result {
            color: $almost-black;
            max-width: 524px;
            margin-bottom: 16px;
        }

        .other-results {
            max-width: 400px;

            .gurmukhi, .translation {
                font-size: 14px;
            }

            .translation {
                margin-bottom: 24px;
            }
        }
    }
}

.question-form {
    width: 100%;
    border-radius: 100px;
    height: 72px;
    border: 2px solid $translucent-dark-grey;
    display: flex;
    flex-direction: row;
    align-items: center;

    input {
        height: 64px;
        border: none;
        outline: none;
        flex-grow: 1;
        background-color: transparent;
        margin-left: 24px;
        font-size: 32px;
        font-family: 'brandon_regular', 'sans-serif';
    }

    button {
        width: 60px;
        height: 60px;
        border-radius: 100px;
        margin-right: 8px;
        background-color: $almost-black;
        border: none;
        cursor: pointer;
    }
}