@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;700&display=swap");

@import "colors", "mixin", "fonts", "content", "sidebar";

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  .star1 {
    /* Star 2 */
    position: absolute;
    width: 618px;
    height: 618px;
    // left: 920px;
    right: 0px;
    top: 438px;
    z-index: -5;
    // border: 1px solid rgba(250, 107, 45, 0.25);
    box-sizing: border-box;
    border-radius: 50px;
    // transform: rotate(-3.92deg);
    animation: rotationClockwise 60s linear infinite;
  }
  .star2 {
    /* Star 3 */

    position: absolute;
    width: 618px;
    height: 618px;
    // left: 914px;
    right: 0px;
    top: 442px;
    z-index: -5;
    // border: 1px solid rgba(75, 112, 240, 0.25);
    box-sizing: border-box;
    border-radius: 50px;
    // transform: rotate(-10.7deg);
    animation: rotationAntiClockwise 60s linear infinite;
  }
  .star3 {
    /* Star 2 */
    position: absolute;
    width: 618px;
    height: 618px;
    left: 0px;
    top: 438px;
    z-index: -5;
    // border: 1px solid rgba(250, 107, 45, 0.25);
    box-sizing: border-box;
    border-radius: 50px;
    // transform: rotate(-3.92deg);
    animation: rotationClockwise 60s linear infinite;
  }
  .star4 {
    /* Star 3 */

    position: absolute;
    width: 618px;
    height: 618px;
    left: 0px;
    top: 442px;
    z-index: -5;
    // border: 1px solid rgba(75, 112, 240, 0.25);
    box-sizing: border-box;
    border-radius: 50px;
    // transform: rotate(-10.7deg);
    animation: rotationAntiClockwise 60s linear infinite;
  }
}
@keyframes rotationClockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotationAntiClockwise {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

body {
  background: linear-gradient(247.44deg, #e5e8ee 0.45%, #eeebe5 100%);
  display: flex;
  align-items: center;
  font-family: "brandon_regular", sans-serif;
  color: $dark-grey;
  overflow: hidden;
}

.page-wrapper {
  max-width: 1728px;
  width: 90%;
  border-radius: 25px;
  margin: auto;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
  height: 90vh;

  box-shadow: 15px 15px 90px rgba(0, 0, 0, 0.1);
  .ham-icon {
    display: none;
  }

  @media (max-width: 1000px) {
    margin: 0;
    height: 100vh;
    width: 100%;
    border-radius: 0px;

    .ham-icon {
      display: block;
      height: 18px;
      position: fixed;
      z-index: 5;
      right: 24px;
      top: 28px;
      cursor: pointer;
    }
  }
}
